/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
  
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  /* Estilos específicos de las vistas */
  /* Estilos para index.html.erb */
  .cliente-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cliente-list li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilos para show.html.erb */
  .cliente-details {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }